<navbar></navbar>

<div class="element-container">
	<div class="nav-holder">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link" href="#">Active</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Link</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Another link</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Disabled</a>
		  </li>
		</ul>
	</div>

	<div class="forms-holder">

		Input
		<div class="form-group">
			<input class="form-control">
		</div>

		Dropdown
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Action</a>
		    <a class="dropdown-item" href="#">Another action</a>
		    <a class="dropdown-item" href="#">Something else here</a>
		  </div>
		</div>

		//Radio button
		<div class="input-group">
		  <div class="input-group-prepend">
		    <div class="input-group-text">
		    <input type="radio" aria-label="Radio button for following text input">
		    </div>
		  </div>
		</div>

		//Checkbox
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <div class="input-group-text">
		      <input type="checkbox" aria-label="Checkbox for following text input">
		    </div>
		  </div>
		  <input type="text" class="form-control" aria-label="Text input with checkbox">
		</div>

		Select
		<select class="custom-select">
		  <option selected>Open this select menu</option>
		  <option value="1">One</option>
		  <option value="2">Two</option>
		  <option value="3">Three</option>
		</select>

		Button
		<button type="button" class="btn btn-outline-primary">Primary</button>

		Cards
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
	</div>

</div>