@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor:   #0277bd;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;
$white:          #fff;
$background:     #C6FFFF;

html {
	height: 100%;
}

body {
   height: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   font: 62.5% 'Roboto', sans-serif;
}

.nav-tabs a {
	color: #49A8EB !important;
	font-size: 18px !important;
	padding: 1.5em 1em 0 10px !important;
}

.nav-link:focus {
	border-color: #673AB8 !important;
}

.nav-link:hover {
	border-color: #673AB8 !important;
}

.nav-tabs {
	background-color: transparent !important;
}

.form-control {
	display: block !important;
    width: 100% !important;
    padding: .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    color: #464a4c !important;
    background-color: #fff !important;
    background-image: none !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    border: 1px solid #aaa !important;
    border-radius: .25rem !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
}

.form-control:focus {
	color: #464a4c !important;
    background-color: #fff !important;
    border-color: #673AB8 !important;
    outline: 0 !important;
}

.custom-select {
	border: 1px solid #aaa !important;
}

.custom-select:focus {
	border-color: #673AB8 !important;
}

.btn {
	background: #fff !important;
	color: #673AB8 !important;
	border: 1px solid #aaa !important;
}

.btn:focus {
	border-color: #673AB8 !important;
	box-shadow: 0 0 0 0.1rem #673AB8 !important;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #673AB8;
}

input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #673AB8;
}